

/*1Depth #edeef3*/
table.treeview_table_node  tr.treeview_row_depth1 {
  background:  #4fbb5a;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bolder;
  font-size : 15px;
  height: 24px;
  vertical-align: middle;
  text-align: left;
}

/*2Depth*/
table.treeview_table_node  tr.treeview_row_child  {
  background:#f4f6f7;
  font-size : 14px;
  height: inherit;
}

table.treeview_node {
  width: 100%
}
/*depth1 image open*/
table.treeview_open_child  tr.treeview_row_depth1  div.treeview_icon_navi {
  width:27px;
  background: url(/src/component/treeView/ico_tree_depth1_minus.png) no-repeat 7px center;
}

/*depth1 image close*/
table.treeview_close_child  tr.treeview_row_depth1  div.treeview_icon_navi {
  width: 27px;
  background: url(/src/component/treeView/ico_tree_depth1_plus.png) no-repeat 7px center;
}

/*depth2 image*/
.treeview_col_icon_navi .treeview_icon_none {
  width: 5px;
  height: 24px;
  background: url(/src/component/treeView/bg_tvw_middle.png) no-repeat 0 7px;
}

/*child 숨기기*/
table.treeview_close_child tr.treeview_row_child {
  display: none;
}