.container{
  
}

.menu {
  display: inline-block;
  background-color: cornflowerblue;
  height : 20px;
  float: left;
}
.icon {
  display: inline-block;
  background-color: cornflowerblue;
  height : 20px;
  float: right;
}

